
@each $nombre, $color in $colores {
    .bg-#{'' + $nombre}{
        background-color: $color;
    }
}

@each $valor, $color in $grays {
    .bg-gray-#{'' + $valor}{
        background-color: $color;
    }
}

@each $nombre, $color in $colores {
    .border-color-#{'' + $nombre}{
        border: 1px solid $color;
    }
}

.border {
    border: 1px solid rgb(206, 212, 218) !important;
}

.border-none {
    border: none;
}

.border-top {
    border-top: 1px solid $gray !important;
}

.border-bottom {
    border-bottom: 1px solid $gray !important;
}

.border-left {
    border-left: 1px solid $gray !important;
}

.border-right {
    border-right: 1px solid $gray !important;
}
