

$sm: "(max-width: 640px)";
$md: "(max-width: 768px)";
$lg: "(max-width: 1024px)";
$xl: "(max-width: 1280px)";
$xl2: "(max-width: 1536px)";


@mixin sm {
    @media screen and #{$sm} {
        @content;
    }
}

@mixin md {
    @media screen and #{$md} {
        @content;
    }
}

@mixin lg {
    @media screen and #{$lg} {
        @content;
    }
}

@mixin xl {
    @media screen and #{$xl} {
        @content;
    }
}

@mixin xl2 {
    @media screen and #{$xl2} {
        @content;
    }
}